.grid-container{
  display: grid;
  height: 15rem;
  width: 15rem;
  grid-template-columns: repeat(6, 1fr);
}

.cards {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}