/* @import "tailwindcss"; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 20px 0px;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.product-card a {
  text-decoration: none;
  color: #333;
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  max-height: 200px;
}

.btn{
  margin: 20px;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #357ABD;
}

.product-details{
  display: flex;
}