.board{
  display: grid;
  gap: 5px;
}

.cell{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
} 

.cell:hover{
  background-color: #ccc;
}