.toast-container {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem
}

.toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  gap: 0.5rem;

  background-color: green;
  color: #fff;
  width: 15rem;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  position: relative;
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.95rem;

  animation: slideIn 0.5s ease forwards, fadeOut 0.5s ease 2.5s forwards;
  opacity: 1;
  transform: translateX(100%);
  transition: opacity 1s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.toast span {
  position: relative;
  right: 0;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding-left: 0.5rem;
}


.success {
  background-color: green;
}

.info {
  background-color: aqua;
}

.warning {
  background-color: orange;
}

.error {
  background-color: red;
}


.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 12rem;
}

.btn-container button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  /* background-color: #333; */
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-container button:hover {
  /* background-color: #555; */
  transform: scale(1.05);
}

.btn-container button:active {
  transform: scale(0.95);
  background-color: #111;
}

.success-btn {
  background-color: #28a745;
}

.success-btn:hover {
  background-color: #218838;
}

.info-btn {
  background-color: #17a2b8;
}

.info-btn:hover {
  background-color: #138496;
}

.warning-btn {
  background-color: #ffc107;
  color: #000;
}

.warning-btn:hover {
  background-color: #e0a800;
}

.error-btn {
  background-color: #dc3545;
}

.error-btn:hover {
  background-color: #c82333;
}



@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}