@import "tailwindcss";

/* .text{
  background-color: black;
  color: white;
} */

.app {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: goldenrod;
  text-shadow: 0 0 8px rgba(255, 215, 0, 0.8);
}

span {
  animation: hideAndShow .8s infinite;
  color: #ff0000;
}

@keyframes hideAndShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}